# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Th@75043727.
POSTGRES_DB=postgres

# PostgREST
PGRST_SCHEMAS=public
PGRST_ANON_ROLE=anon
JWT_SECRET=tjI+o0Yc87UMy9MccTC55lr1y5xzSuC7TNJPGANG+GQ=

# pgAdmin
PGADMIN_EMAIL=thalleshcmartins@gmail.com
PGADMIN_PASSWORD=Th@75043727.

# Docker network
CON_NETWORK=coolify